.approve-photo {
	margin: 0 auto;
	position: relative;
    height: 452px;
    width: 90%;
    background: black url('../assets/images/product.jpg') center center no-repeat;
    background-size: contain;
}

.approve-photo .btn{
	width: 30%;
	position: absolute;
	bottom: -2rem;
	left: 35%;
	margin:0;
}