.camera-set-product{
	background: black url('../assets/images/product.jpg') center center no-repeat;
    background-size: contain;
}

.camera-set-product p{
	color: #fdd835;
	font-size: 2.8rem;
	position: absolute; width: 100%; top: 50%; transform: translateY(-50%);
	padding: 0;
	text-align: center;
}