.camera {
	margin: 0 auto;
	position: relative;
	height: 495px;
	width: 94%;
	border-radius: 20%;
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
	border: 0px solid #000000;
	background: black;
}
.camera section .flex-item{
	display: inline-block;
	border-radius: 50%;
	background-color: white;
	height: 4.5rem;
    width: 4.5rem;
}

.camera .question{
	background: white url('../assets/svg/question.svg') center no-repeat / 2.5rem;
	position: absolute;
    left: 3.5rem;
    bottom: 3rem;

}
.camera .flash{
	background: white url('../assets/svg/flash.svg') center no-repeat / 2.5rem;
	position: absolute;
    right: 3.5rem;
    bottom: 3rem;
}

.camera .focus {
	border: 2px dashed #fdd835;
}

.camera .focus-first {
	width: 80%;
	height: 30%;
	position: absolute;
	top: 35%;
	left: 10%;
}

.camera .focus-second {
	width: 30%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 35%;
}

.camera-help .focus-plus{
	color: #fdd835;
	font-size: 2.8rem;
	position: absolute;
    top: 45%;
    left: 49%;
}

.camera-help .btn{
	width: 30%;
	position: absolute;
	bottom: 4rem;
	left: 35%;
}

.camera-help .info {
	color:  #ffffff;
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	line-height: 3rem;
	padding-top: 30%;
}

.camera-help .blur{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}