main {
	margin: 0 auto;
	position: relative;
	height: 700px;
	width: 90%;
}
main{
	border-radius: 120px 120px 120px 120px;
	-moz-border-radius: 120px 120px 120px 120px;
	-webkit-border-radius: 120px 120px 120px 120px;
	border: 0px solid #000000;
	background: black;
}
main section .flex-item{
	display: inline-block;
	border-radius: 50%;
	background-color: white;
	height: 6rem;
	width: 6rem;
}

.question{
	background: white url('../assets/svg/question.svg') center no-repeat / 4rem;
	position: absolute;
	bottom: 8rem;
	left: 1.5rem;

}
.flash{
	background: white url('../assets/svg/flash.svg') center no-repeat / 4rem;
	position: absolute;
	right: 1.5rem;
	bottom: 8rem;
}

main .focus {
	border: 2px dashed #fdd835;
}

main .focus-first {
	width: 80%;
	height: 30%;
	position: absolute;
	top: 35%;
	left: 10%;
}

main .focus-second {
	width: 30%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 35%;
}

main .focus-plus{
	color: #fdd835;
	font-size: 2.8rem;
	position: absolute;
	top: 50%;
	left: 50%;
}

main .btn{
	width: 30%;
	position: absolute;
	bottom: 7rem;
	left: 35%;
}

main .info {
	color:  #ffffff;
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	line-height: 3rem;
	padding-top: 20%;
}

main .blur{
	-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}